* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9575cd;
}


#form {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.form-body {
    display: flex;
    justify-content: center;
}

.form-title {
    padding: 10px 0 20px 0;
    text-align: center;
    color: #ffffff;
}

.size-button {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) ;
    cursor: pointer;
    transition: transform ease .3s;
}

.size-button:hover {
    transform: scale(1.2);
}

.size-button + .size-button {
    margin: 0 0 0 10px;
}

#game {
    display: none;
    text-align: center;
}

#board {
    width: 600px;
    height: 600px;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) ;
    text-align: center;
    padding: 5px 0 0 0;
}

.piece {
    display: inline-flex;
    background-color: #ede7f6;
    margin: 0 0 3px 3px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Roboto;
}

.empty-piece {
    color: #ede7f6;
}

#title {
    color: #fafafa;
    text-align: center;
    width: 100%;
    font-size: 40px;
    padding: 20px 0 20px 0;
}


#home-button {
    background-color: #fafafa;
    min-width: 130px;
    display: inline-block;
    text-align: center;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    border: 2px solid #dddddd;
    cursor: pointer;
}